# Исследование информации о венчурных фондах и инвестициях в компании-стартапы

*Венчурные фонды* — это финансовые организации, которые могут позволить себе высокий риск и инвестировать в компании с инновационной бизнес-идеей или разработанной новой технологией, то есть в стартапы.\
Цель венчурных фондов — в будущем получить значительную прибыль, которая в разы превысит размер их трат на инвестиции в компанию. Если стартап подорожает, венчурный фонд может получить долю в компании или фиксированный процент от её выручки.\
Чтобы процесс финансирования стал менее рискованным, его делят на стадии — раунды. Тот или иной раунд зависит от того, какого уровня развития достигла компания.\

Первые этапы — предпосевной и посевной раунды.\
Предпосевной раунд предполагает, что компания как таковая ещё не создана и находится в стадии замысла.\ 
Следующий — посевной — раунд знаменует рост проекта: создатели компании разрабатывают бизнес-модель и привлекают инвесторов. 

Если компании требуется ментор или наставник — она привлекает бизнес-ангела.\
Бизнес-ангелы — инвесторы, которые помимо финансовой поддержки предлагают экспертную помощь. Такой раунд называют ангельским.\
Когда стартап становится компанией с проверенной бизнес-моделью и начинает зарабатывать самостоятельно, предложений инвесторов становится больше.\
Это раунд A, а за ним следуют и другие: B, C, D — на этих этапах компания активно развивается и готовится к IPO.\
Иногда выделяют венчурный раунд — финансирование, которое могло поступить от венчурного фонда на любом этапе: начальном или более позднем.

![image](https://github.com/raisia/yandex_praktikum/blob/main/6_%D0%98%D1%81%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%20%D0%B8%D0%BD%D0%B2%D0%B5%D1%81%D1%82%D0%B8%D1%86%D0%B8%D0%B9%20%D0%B2%20%D1%81%D1%82%D0%B0%D1%80%D1%82%D0%B0%D0%BF%D1%8B/ER_invest.png?raw=true)

**Знакомство с данными:**

`acquisition`

Содержит информацию о покупках одних компаний другими.\
Таблица включает такие поля:\
*первичный ключ id* — идентификатор или уникальный номер покупки;\
внешний ключ *acquiring_company_id* — ссылается на таблицу company — идентификатор компании-покупателя, то есть той, что покупает другую компанию;\
внешний ключ *acquired_company_id* — ссылается на таблицу company — идентификатор компании, которую покупают;\
*term_code* — способ оплаты сделки:\
*cash* — наличными;\
*stock* — акциями компании;\
*cash_and_stock* — смешанный тип оплаты: наличные и акции.\
*price_amount* — сумма покупки в долларах;\
*acquired_at* — дата совершения сделки;\
*created_at* — дата и время создания записи в таблице;\
*updated_at* — дата и время обновления записи в таблице.\

`company`

Содержит информацию о компаниях-стартапах.\
первичный ключ *id* — идентификатор, или уникальный номер компании;\
*name* — название компании;\
*category_code* — категория деятельности компании, например:\
news — специализируется на работе с новостями;\
social — специализируется на социальной работе.\
status — статус компании:\
acquired — приобретена;\
operating — действует;\
ipo — вышла на IPO;\
closed — перестала существовать.\
*founded_at* — дата основания компании;\
*closed_at* — дата закрытия компании, которую указывают в том случае, если компании больше не существует;\
*domain* — домен сайта компании;\
*twitter_username* — название профиля компании в твиттере;\
*country_code* — код страны, например, USA для США, GBR для Великобритании;\
*investment_rounds* — число раундов, в которых компания участвовала как инвестор;\
*funding_rounds* — число раундов, в которых компания привлекала инвестиции;\
*funding_total* — сумма привлечённых инвестиций в долларах;\
*milestones* — количество важных этапов в истории компании;\
*created_at* — дата и время создания записи в таблице;\
*updated_at* — дата и время обновления записи в таблице.*

`education`

Хранит информацию об уровне образования сотрудников компаний.
первичный ключ *id* — уникальный номер записи с информацией об образовании;\
внешний ключ *person_id* — ссылается на таблицу people — идентификатор человека, информация о котором представлена в записи;\
*degree_type* — учебная степень, например:\
BA — Bachelor of Arts — бакалавр гуманитарных наук;\
MS — Master of Science — магистр естественных наук.\
*instituition* — учебное заведение, название университета;\
*graduated_at* — дата завершения обучения, выпуска;\
*created_at* — дата и время создания записи в таблице;\
*updated_at* — дата и время обновления записи в таблице.\

`fund`

Хранит информацию о венчурных фондах. 
первичный ключ *id* — уникальный номер венчурного фонда;\
*name* — название венчурного фонда;\
*founded_at* — дата основания фонда;\
*domain* — домен сайта фонда;\
*twitter_username* — профиль фонда в твиттере;\
*country_code* — код страны фонда;\
*investment_rounds* — число инвестиционных раундов, в которых фонд принимал участие;\
*invested_companies* — число компаний, в которые инвестировал фонд;\
*milestones\ — количество важных этапов в истории фонда;*
*created_at* — дата и время создания записи в таблице;\
*updated_at* — дата и время обновления записи в таблице.\

`funding_round`

Содержит информацию о раундах инвестиций.\
первичный ключ *id*— уникальный номер инвестиционного раунда;\
внешний ключ *company_id* — ссылается на таблицу company — уникальный номер компании, участвовавшей в инвестиционном раунде;\
*funded_at* — дата проведения раунда;\
*funding_round_type* — тип инвестиционного раунда, например:\
venture — венчурный раунд;\
angel — ангельский раунд;\
series_a — раунд А.\
*raised_amount* — сумма инвестиций, которую привлекла компания в этом раунде в долларах;\
*pre_money_valuation* — предварительная, проведённая до инвестиций оценка стоимости компании в долларах;\
*participants* — количество участников инвестиционного раунда;\
*is_first_round* — является ли этот раунд первым для компании;\
*is_last_round* — является ли этот раунд последним для компании;\
*created_at* — дата и время создания записи в таблице;\
*updated_at* — дата и время обновления записи в таблице.\

`investment`

Содержит информацию об инвестициях венчурных фондов в компании-стартапы.
первичный ключ *id* — уникальный номер инвестиции;\
внешний ключ *funding_round_id* — ссылается на таблицу funding_round — уникальный номер раунда инвестиции;\
внешний ключ *company_id* — ссылается на таблицу company — уникальный номер компании-стартапа, в которую инвестируют;\
внешний ключ *fund_id* — ссылается на таблицу fund — уникальный номер фонда, инвестирующего в компанию-стартап;\
*created_at* — дата и время создания записи в таблице;\
*updated_at* — дата и время обновления записи в таблице.\

`people`

Содержит информацию о сотрудниках компаний-стартапов.\
первичный ключ *id* — уникальный номер сотрудника;\
*first_name* — имя сотрудника;\
*last_name* — фамилия сотрудника;\
внешний ключ *company_id* — ссылается на таблицу company — уникальный номер компании-стартапа;\
*twitter_username* — профиль сотрудника в твиттере;\
*created_at* — дата и время создания записи в таблице;\
*updated_at* — дата и время обновления записи в таблице.

In [ ]:
# Посчитайте, сколько компаний закрылось.
SELECT COUNT(id)
FROM company
WHERE status = 'closed'

Отобразите количество привлечённых средств для новостных компаний США. Используйте данные из таблицы `company`. Отсортируйте таблицу по убыванию значений в поле `funding_total`.

In [ ]:
SELECT funding_total
FROM company
WHERE category_code LIKE 'news'
      AND country_code LIKE 'USA'
ORDER BY funding_total DESC;

Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.

In [ ]:
SELECT SUM(price_amount)
FROM acquisition
WHERE term_code LIKE 'cash' 
                    AND EXTRACT(YEAR FROM acquired_at) BETWEEN 2011
                    AND 2013;

Отобразите имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на `Silver`.

In [ ]:
SELECT first_name,
       last_name,
       twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%';

Выведите на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку `money`, а фамилия начинается на `K`.

In [ ]:
SELECT *
FROM people
WHERE twitter_username LIKE '%money%'
      AND last_name LIKE 'K%';

Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране. Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы.

In [ ]:
SELECT country_code,
      SUM(funding_total)
FROM company
GROUP BY country_code
ORDER BY SUM(funding_total) DESC;

Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.\
Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.

In [ ]:
SELECT funded_at,
       MIN(raised_amount),
       MAX(raised_amount)
FROM  funding_round
GROUP BY funded_at
HAVING MIN(raised_amount) <> 0
      AND MIN(raised_amount) <> MAX(raised_amount);

Создайте поле с категориями:
* Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию `high_activity`.
* Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию `middle_activity`.
* Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию `low_activity`.

Отобразите все поля таблицы fund и новое поле с категориями.

In [ ]:
SELECT *,
       CASE
           WHEN invested_companies >= 100 THEN 'high_activity'
           WHEN invested_companies BETWEEN 20 AND 99 THEN 'middle_activity'
           WHEN invested_companies < 20 THEN 'low_activity'
       END
FROM fund;

Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие.\
Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего.

In [ ]:
WITH
#категории подзапрос 1
category AS (SELECT *,
             CASE
                 WHEN invested_companies>=100 THEN 'high_activity'
                 WHEN invested_companies>=20 THEN 'middle_activity'
                 ELSE 'low_activity'
             END AS activity
      FROM fund)

#основной запрос
SELECT activity,
       ROUND(AVG(investment_rounds))
FROM category
GROUP BY activity
ORDER BY ROUND(AVG(investment_rounds));

Проанализируйте, в каких странах находятся фонды, которые чаще всего инвестируют в стартапы.\
Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды этой страны, основанные с 2010 по 2012 год включительно. Исключите страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. Выгрузите десять самых активных стран-инвесторов.\
Отсортируйте таблицу по среднему количеству компаний от большего к меньшему, а затем по коду страны в лексикографическом порядке.

In [ ]:
SELECT country_code,
       MIN(invested_companies),
       MAX(invested_companies),
       AVG(invested_companies)
FROM fund
WHERE EXTRACT(YEAR FROM founded_at) BETWEEN 2010 AND 2012
GROUP BY country_code
HAVING MIN(invested_companies) <> 0
ORDER BY AVG(invested_companies) DESC,
         country_code
LIMIT 10;

Отобразите имя и фамилию всех сотрудников стартапов. Добавьте поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.

In [ ]:
SELECT people.first_name,
       people.last_name,
       education.instituition
FROM people 
LEFT OUTER JOIN education ON people.id = education.person_id;

Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники. Выведите название компании и число уникальных названий учебных заведений. Составьте топ-5 компаний по количеству университетов.

In [ ]:
SELECT comp.name,
       COUNT(DISTINCT e.instituition)
FROM company AS comp
LEFT OUTER JOIN people AS peop ON comp.id=peop.company_id
INNER JOIN education AS e ON peop.id=e.person_id
GROUP BY comp.name
ORDER BY COUNT(DISTINCT e.instituition) DESC
LIMIT 5;

Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.

In [ ]:
SELECT DISTINCT name
FROM company
WHERE status LIKE 'closed'
      AND id IN (SELECT company_id
                FROM funding_round
                WHERE is_first_round = 1
                      AND is_last_round = 1);

Составьте список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем задании.

In [ ]:
WITH
#подзапрос ликвид.компании с 1 раундом финансирования
closed_comp AS (SELECT DISTINCT name,
                id
               FROM company
               WHERE status LIKE 'closed'
                     AND id IN (SELECT company_id
                               FROM funding_round
                               WHERE is_first_round = 1
                                     AND is_last_round = 1))
#основной запрос
SELECT DISTINCT people.id
FROM people
INNER JOIN closed_comp ON people.company_id=closed_comp.id;

Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.

In [ ]:
WITH
#подзапрос ликвид.компании с 1 раундом финансирования
closed_comp AS (SELECT DISTINCT name,
                id
               FROM company
               WHERE status LIKE 'closed'
                     AND id IN (SELECT company_id
                               FROM funding_round
                               WHERE is_first_round = 1
                                     AND is_last_round = 1)),
#сотрудники, которые работали в закрывшихся компаниях с 1 раундом
staff AS (SELECT DISTINCT people.id AS staff_id
          FROM people
          INNER JOIN closed_comp ON people.company_id=closed_comp.id)
          
#основной запрос
SELECT DISTINCT staff.staff_id,
       education.instituition
FROM staff
INNER JOIN education ON staff.staff_id=education.person_id
WHERE education.instituition IS NOT NULL;

Посчитайте количество учебных заведений для каждого сотрудника из предыдущего задания. При подсчёте учитывайте, что некоторые сотрудники могли окончить одно и то же заведение дважды.

In [ ]:
WITH
#подзапрос ликвид.компании с 1 раундом финансирования
closed_comp AS (SELECT DISTINCT name,
                id
               FROM company
               WHERE status LIKE 'closed'
                     AND id IN (SELECT company_id
                               FROM funding_round
                               WHERE is_first_round = 1
                                     AND is_last_round = 1)),
#сотрудники, которые работали в закрывшихся компаниях с 1 раундом
staff AS (SELECT DISTINCT people.id AS staff_id
          FROM people
          INNER JOIN closed_comp ON people.company_id=closed_comp.id)
          
#основной запрос
SELECT DISTINCT staff.staff_id,
       COUNT(education.instituition)
FROM staff
INNER JOIN education ON staff.staff_id=education.person_id
WHERE education.instituition IS NOT NULL
GROUP BY staff.staff_id;

Дополните предыдущий запрос и выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники разных компаний. Нужно вывести только одну запись, группировка здесь не понадобится.

In [ ]:
WITH
#подзапрос ликвид.компании с 1 раундом финансирования
closed_comp AS (SELECT DISTINCT name,
                id
               FROM company
               WHERE status LIKE 'closed'
                     AND id IN (SELECT company_id
                               FROM funding_round
                               WHERE is_first_round = 1
                                     AND is_last_round = 1)),
#сотрудники, которые работали в закрывшихся компаниях с 1 раундом
staff AS (SELECT DISTINCT people.id AS staff_id
          FROM people
          INNER JOIN closed_comp ON people.company_id=closed_comp.id),
          
#подзапрос НЕ уникальные пары ВУЗ и сотрудники
res AS (SELECT staff.staff_id,
        COUNT(education.instituition)
        FROM staff
        INNER JOIN education ON staff.staff_id=education.person_id
        WHERE education.instituition IS NOT NULL
        GROUP BY staff.staff_id)

#основной запрос
SELECT AVG(res.count)
FROM res;

Напишите похожий запрос: выведите среднее число учебных заведений (всех, не только уникальных), которые окончили сотрудники Facebook*.
*(сервис, запрещённый на территории РФ)

In [ ]:
WITH
#подзапрос ликвид.компании с 1 раундом финансирования
closed_comp AS (SELECT DISTINCT name,
                                id
                FROM company
                WHERE name LIKE 'Facebook'),
#сотрудники, которые работали в закрывшихся компаниях с 1 раундом
staff AS (SELECT DISTINCT people.id AS staff_id
          FROM people
          INNER JOIN closed_comp ON people.company_id=closed_comp.id),
          
#подзапрос НЕ уникальные пары ВУЗ и сотрудники
res AS (SELECT staff.staff_id,
        COUNT(education.instituition)
        FROM staff
        INNER JOIN education ON staff.staff_id=education.person_id
        WHERE education.instituition IS NOT NULL
        GROUP BY staff.staff_id)

#основной запрос
SELECT AVG(res.count)
FROM res;

Составьте таблицу из полей:
* `name_of_fund` — название фонда;
* `name_of_company` — название компании;
* `amount` — сумма инвестиций, которую привлекла компания в раунде.

В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.

In [ ]:
SELECT fund.name AS name_of_fund,
       company.name AS name_of_company,
       funding_round.raised_amount AS amount
FROM investment
INNER JOIN company ON investment.company_id=company.id
INNER JOIN funding_round ON funding_round.id=investment.funding_round_id
INNER JOIN fund ON investment.fund_id=fund.id
WHERE EXTRACT(YEAR FROM funding_round.funded_at) BETWEEN 2012 AND 2013
      AND company.milestones >6;

Выгрузите таблицу, в которой будут такие поля:
* название компании-покупателя;
* сумма сделки;
* название компании, которую купили;
* сумма инвестиций, вложенных в купленную компанию;
* доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.

Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы. 
Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в лексикографическом порядке. Ограничьте таблицу первыми десятью записями.

In [ ]:
WITH
acquisition AS (SELECT acquiring_company_id,
                price_amount,
                acquired_company_id
                FROM acquisition
                WHERE price_amount <> 0),

company AS (SELECT id,
                   name,
                   funding_total
            FROM company),
            --WHERE funding_total <> 0),

funding_round AS (SELECT company_id
                  FROM funding_round
                  WHERE raised_amount <> 0),

acquired_company_dict AS (SELECT company.name AS acquired_company_name,
                                 acquisition.acquired_company_id
                          FROM acquisition 
                          LEFT OUTER JOIN company 
                               ON acquisition.acquired_company_id=company.id),

acquiring_company_dict AS (SELECT company.name AS acquiring_company_name,
                                  acquisition.acquiring_company_id
                          FROM acquisition 
                          LEFT OUTER JOIN company 
                               ON acquisition.acquiring_company_id=company.id)

#основной запрос
SELECT DISTINCT acquiring_company_name,
       price_amount,
       acquired_company_name,
       funding_total,
       ROUND(acquisition.price_amount / company.funding_total)
FROM acquisition
    LEFT OUTER JOIN funding_round 
    ON funding_round.company_id=acquisition.acquired_company_id
    LEFT OUTER JOIN acquiring_company_dict 
    ON acquisition.acquiring_company_id=acquiring_company_dict.acquiring_company_id
    LEFT OUTER JOIN acquired_company_dict
    ON acquisition.acquired_company_id=acquired_company_dict.acquired_company_id
    LEFT OUTER JOIN company ON company.id=acquisition.acquired_company_id
WHERE funding_total <> 0
ORDER BY price_amount DESC,
         acquired_company_name
LIMIT 10;

Выгрузите таблицу, в которую войдут названия компаний из категории `social`, получившие финансирование с 2010 по 2013 год включительно. Проверьте, что сумма инвестиций не равна нулю. Выведите также номер месяца, в котором проходил раунд финансирования.

In [ ]:
WITH
fund AS (
    SELECT
        company_id,
        EXTRACT(MONTH FROM funded_at) AS month
    FROM
        funding_round
    WHERE
        EXTRACT(YEAR FROM funded_at) BETWEEN 2010 AND 2013
        AND
        raised_amount > 0
),
com AS (
    SELECT id, name FROM
        company
    WHERE
        category_code = 'social'
)

#основной запрос
SELECT com.name, fund.month
FROM fund INNER JOIN com ON fund.company_id = com.id
ORDER BY month, name;

Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:
* номер месяца, в котором проходили раунды;
* количество уникальных названий фондов из США, которые инвестировали в этом месяце;
* количество компаний, купленных за этот месяц;
* общая сумма сделок по покупкам в этом месяце.

In [ ]:
WITH
funding_round AS 
                (SELECT 
                        company_id,
                        id AS funding_round_id,
                        EXTRACT(MONTH FROM funded_at) AS month_round
                FROM funding_round
                WHERE EXTRACT(YEAR FROM funded_at) BETWEEN 2010 AND 2013),

acquisition AS 
                (SELECT EXTRACT(MONTH FROM acquired_at) AS month_purchase,
                       COUNT(acquired_company_id), --компании, которые купили
                       SUM(price_amount) AS total_amount
                FROM acquisition
                WHERE EXTRACT(YEAR FROM acquired_at) BETWEEN 2010 AND 2013
                GROUP BY month_purchase),

funds_name AS 
                (SELECT funding_round_id,
                        fund.name AS fund_name
                FROM investment
                LEFT JOIN fund ON fund.id=investment.fund_id
                WHERE country_code LIKE 'USA'),
                --GROUP BY funding_round_id),
                 
count_USA_name AS
                (SELECT funding_round.month_round,
                       COUNT(DISTINCT funds_name.fund_name) AS count_USA_name
                FROM funding_round
                LEFT JOIN funds_name 
                     ON funding_round.funding_round_id=funds_name.funding_round_id
                GROUP BY funding_round.month_round)

#основной запрос
SELECT count_USA_name.month_round,
        count_USA_name.count_usa_name,
        acquisition.count,
        acquisition.total_amount
FROM count_USA_name
LEFT JOIN acquisition ON count_USA_name.month_round=acquisition.month_purchase

Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле.\
Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.

In [ ]:
WITH
year_2011 AS 
    (SELECT country_code,
            AVG(funding_total) AS year_2011
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at) = 2011
    GROUP BY country_code),

year_2012 AS 
    (SELECT country_code,
            AVG(funding_total) AS year_2012
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at) = 2012
    GROUP BY country_code),

year_2013 AS 
    (SELECT country_code,
            AVG(funding_total) AS year_2013
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at) = 2013
    GROUP BY country_code)

#основной запрос
SELECT year_2011.country_code,
       year_2011.year_2011,
       year_2012.year_2012,
       year_2013.year_2013
FROM year_2011
INNER JOIN year_2012 ON year_2011.country_code=year_2012.country_code
INNER JOIN year_2013 ON year_2011.country_code=year_2013.country_code
ORDER BY year_2011.year_2011 DESC