# Исследование надежности заемщиков

**Описание проекта:**\
Заказчик — кредитный отдел банка.\
Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.\
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

**Описание данных:**\
`children` — количество детей в семье,\
`days_employed` — общий трудовой стаж в днях,\
`dob_years` — возраст клиента в годах,\
`education` — уровень образования клиента,\
`education_id` — идентификатор уровня образования,\
`family_status` — семейное положение,\
`family_status_id` — идентификатор семейного положения,\
`gender` — пол клиента,\
`income_type` — тип занятости,\
`debt` — имел ли задолженность по возврату кредитов,\
`total_income` — ежемесячный доход,\
`purpose` — цель получения кредита.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы
5,0,926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,B,операции с недвижимостью
6,0,2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,B,операции с недвижимостью
7,0,152.779569,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,C,получение образования
8,2,6929.865299,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,C,проведение свадьбы
9,0,2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,C,операции с недвижимостью

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Создадим таблицу `children_debt` с данными о количестве детей у заемщиков в разрезе:\
-количества кредитов с просрочкой оплаты\
-общего количества кредитов

In [22]:
children_debt = pd.DataFrame({'debt_default' : []})

Рассчитаем количество просроченных кредитов:

In [23]:
children_debt['debt_default'] = data.groupby('children')['debt'].sum()

Рассчитаем общее количество кредитов:

In [24]:
children_debt['debt_total'] = data.groupby('children')['debt'].count()

Узнаем % кредитов, возвращенных не в срок.\
Для этого добавим столбец `percent_default` с расчетом в таблицу `children_debt`

In [25]:
children_debt['percent_default'] = children_debt['debt_default'] / children_debt['debt_total']

Преобразуем столбец `percent_default` в формат %:

In [26]:
children_debt['percent_default'] = ["{:.2%}".format(i) for i in children_debt['percent_default']]
children_debt = children_debt.sort_values(by='percent_default', ascending=False)
children_debt

          debt_default  debt_total percent_default
children
4                    4          41           9.76%
2                  194        2052           9.45%
1                  444        4808           9.23%
3                   27         330           8.18%
0                 1063       14091           7.54%
5                    0           9           0.00%

**Вывод:**
\
По итогам анализа прослеживается зависимость своевременности возврата кредитов от количества детей:
> - заемщики без детей имеют наиболее высокий показатель своевременности возврата кредитов(7,54%),
> - данная группа пользуется кредитами чаще, чем семьи с детьми => особенно заинтересованы в формировании хорошей кредитной истории => необходимо своевременно возвращать кредиты.

Наибольшую долю просроченных кредитов имеют заемщики с 4-мя детьми (9,76%). Однако, данный вывод не применим к семьям с 5-ю детьми. По итогам проверки [первой гипотезы](#3.1-Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?) у кредиторов с 5-ю детьми отсутствует просрочка по кредитам.

Таким образом, на основании одного показателя (`количество детей у заемщика`), невозможно сделать однозначный вывод о вероятности просрочки кредита. Необходимо продолждить анализ, учитывая другие факторы.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Создадим таблицу `family_debt` с данными о семейном положении заемщиков в разрезе:
-количества кредитов с просрочкой оплаты,
-общего количества кредитов

In [27]:
family_debt = pd.DataFrame({'debt_default' : []})

Рассчитаем количество просроченных кредитов:

In [28]:
family_debt['debt_default'] = data.groupby('family_status')['debt'].sum()

Рассчитаем общее количество кредитов:

In [29]:
family_debt['debt_total'] = data.groupby('family_status')['debt'].count()

Узнаем % кредитов, возвращенных не в срок.\
Для этого добавим столбец `percent_default` с расчетом в таблицу `family_debt`

In [30]:
family_debt['percent_default'] = family_debt['debt_default'] / family_debt['debt_total']

Преобразуем столбец `percent_default` в формат % и выведем на экран итоговую таблицу:

In [31]:
family_debt['percent_default'] = ["{:.2%}".format(i) for i in family_debt['percent_default']]
family_debt = family_debt.sort_values(by='percent_default', ascending=False)
family_debt

                       debt_default  debt_total percent_default
family_status
Не женат / не замужем           273        2796           9.76%
гражданский брак                385        4134           9.31%
женат / замужем                 927       12261           7.56%
в разводе                        84        1189           7.06%
вдовец / вдова                   63         951           6.62%

**Вывод:** 
\
По итогам проверки второй гипотезы наблюдается связь между семейным положением и оплатой кредитов в срок:
> 
> * заемщики с семейным положением "женат/замужем" имеют наибольшее количество кредитов + достаточно высокий показатель возврата кредитов в срок (7,56%),
> * заемщики категории "в разводе" и "вдовец/вдова" имеют наименьший % просроченных кредитов + наименьшее количество кредитов.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Создадим pivot table `income_debt` с данными об [уровне дохода заемщиков](#Категоризация-данных) в разрезе:
- количества кредитов с просрочкой оплаты, 
- общего количества кредитов

In [32]:
income_debt = data.pivot_table(index=['total_income_category'], values='debt', aggfunc='sum')

Добавим в сводную таблицу столбец debt_total c общим количеством кредитов:

In [33]:
income_debt['debt_total'] = data.pivot_table(index=['total_income_category'], values='debt', aggfunc='count')

Узнаем % кредитов, возвращенных не в срок.
\
Для этого добавим столбец `percent_default` с расчетом в таблицу `income_debt`

In [34]:
income_debt['percent_default'] = income_debt['debt'] / income_debt['debt_total']

Преобразуем столбец `percent_defaul`t в формат % и выведем на экран итоговую таблицу:

In [35]:
income_debt['percent_default'] = ["{:.2%}".format(i) for i in income_debt['percent_default']]
income_debt = income_debt.sort_values(by='percent_default', ascending=False)
income_debt

                       debt  debt_total percent_default
total_income_category
E                         2          22           9.09%
C                      1353       15921           8.50%
A                         2          25           8.00%
B                       354        5014           7.06%
D                        21         349           6.02%

Создадим словарь `category_income` категории - диапазон доходов для расшифровки категорий доходов в таблице `income_debt`:

In [36]:
category_income = {
    'E' : '0–30000',
    'D' : '30001–50000',
    'C' : '50001–200000',
    'B' : '200001–1000000',
    'A' : '1000001 и выше'
}

Добавимв таблицу `income_debt` диапазон доходов соответствующий каждой категории `category_income`:

In [37]:
new_column = []

for key, row in income_debt.iterrows():
    income = category_income[key]
    new_column.append(income)
    
income_debt['income_category_range'] = new_column
display(income_debt)

                       debt  debt_total percent_default income_category_range
total_income_category
E                         2          22           9.09%               0–30000
C                      1353       15921           8.50%          50001–200000
A                         2          25           8.00%        1000001 и выше
B                       354        5014           7.06%        200001–1000000
D                        21         349           6.02%           30001–50000

**Вывод:**

Высокая вероятность своевременного возврата кредитов:
> * наименьшее количество просроченных кредитов у заемщиков с категорией дохода "D"(от 30 0001 до 50 000 руб.).\
     Доля кредитов данной категории заемщиков составила 1,6% от общего количества кредитов,
> * заемщики с категорией доходв "B" также демонстрируют несущественную просрочку кредитов. Доля кредитов = 1.7%
 
Наименее надежные заемщики:
> * одними из менее надежных являются заемщики с категорией дохода "С"(8,5%). Доля кредитов от общего числа составляет 74,6%,
> * самыми ненадежными заемщиками являются физ.лица с доходом < 30 000 руб. Следует отметить, что они имеют наименьшее количество кредитов (0,1%).

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Создадим сводную таблицу `reason_debt` с данными о целях получения кредитов в разрезе:\
-количества кредитов с просрочкой оплаты,\
-общего количества кредитов

Рассчитаем количество просроченных кредитов:

In [38]:
reason_debt = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='sum')

Рассчитаем общее количество кредитов:

In [39]:
reason_debt['debt_total'] = data.pivot_table(index=['purpose_category'], values='debt', aggfunc='count')

Узнаем % кредитов, возвращенных не в срок.
Для этого добавим столбец `percent_default` с расчетом в таблицу `reason_debt`:

In [40]:
reason_debt['percent_default'] = reason_debt['debt'] / reason_debt['debt_total']

Преобразуем столбец `percent_default` в формат % и выведем на экран итоговую таблицу:

In [41]:
reason_debt['percent_default'] = ["{:.2%}".format(i) for i in reason_debt['percent_default']]
reason_debt = reason_debt.sort_values(by='percent_default', ascending=False)
reason_debt

                          debt  debt_total percent_default
purpose_category
операции с автомобилем     400        4279           9.35%
получение образования      369        3988           9.25%
проведение свадьбы         183        2313           7.91%
операции с недвижимостью   780       10751           7.26%

**Вывод:**

Наиболее надежными являются заемщики с целями кредитов:
+ операции с недвижимостью,
+ проведение свадьбы

Кредиты на покупку автомобиля являются наиболее подверженными просрочке оплаты.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:*

Трудовой стаж `days_employed` чаще не указывался для категорий заемщиков:
* сотрудник
* компаньон
* пенсионер

 Предполагаемые причины отсутствия трудового стажа:
1. Категория `пенсионеры` - трудовой стаж не указан 413 раз (**19%** от общего количества пропусков):\
     для получения кредита трудовой стаж указывается за последние несколько лет. Если пенсионер не является "трудящимся", то показатель *days_employed* не может быть заполнен.
2. Категория `компаньон`- трудовой стаж не указан 508 раз (**23%** от общего количества пропусков):\
    Запись в трудовую книжку не вносится, если физическое лицо выполняет работу/оказывает услуги в рамках договора ГПХ (гражданско-правового характера).
    Если банк учитывает стаж только из трудовой книжки, то отсутствие информации объяснимо.
3. Категория `сотрудник`- трудовой стаж не указан 1105 раз (**51%** от общего количества пропусков):\
    нет явного объяснения причин пропусков. Потенциальные заемщики могли не иметь трудового стажа или умышленно его не указывали. Необходимо уточнить информацию у кредитного отдела банка.

Пранализировав таблицы `res_filtred` и `total_income_filtred` установлена взаимосвязь:
если трудовой стаж не указан => ежемесячный доход отсутствует.

Сформируем таблицу `res_filtred` со следующими данными:
- `days_employed` не указан,
- группировка по типу занятости заемщиков `income_type`

In [42]:
import pandas as pd
res = pd.read_csv('/datasets/data.csv')
#заменим пустые значения на "нет" в столбце 'days_employed'
res['days_employed'] = res['days_employed'].fillna(value='нет')
#отфильтруем заемщиков, которые не указали стаж в разрезе типа занятости
res_filtred = res.loc[res['days_employed'] == 'нет']
#выведем количество пропусков в столбце 'days_employed'в разрезе типов занятости заемщиков
res_filtred = res_filtred.groupby('income_type')['days_employed'].count().reset_index()
res_filtred

       income_type  days_employed
0      госслужащий            147
1        компаньон            508
2        пенсионер            413
3  предприниматель              1
4        сотрудник           1105

Сформируем таблицу `total_income_filtred` со следующими данными:
- `income_type` отсутствует,
- `days_employed` не указан,
- группировка по типу занятости заемщиков `income_type`

In [43]:
import pandas as pd
res = pd.read_csv('/datasets/data.csv')
#заменим пустые значения на "нет" в столбце 'days_employed'
res['days_employed'] = res['days_employed'].fillna(value='нет')
#заменим пустые значения на "нет" в столбце 'total_income'
res['total_income'] = res['total_income'].fillna(value='нет')
#отфильтруем заемщиков, которые не указали стаж в разрезе типа занятости
res_filtred = res.loc[(res['days_employed'] == 'нет') & (res['total_income'] == 'нет')]
#выведем категории заемщиков, которые не указали ежемесячный доход:
total_income_filtred = res_filtred.groupby('income_type')['total_income'].count().reset_index()
total_income_filtred

       income_type  total_income
0      госслужащий           147
1        компаньон           508
2        пенсионер           413
3  предприниматель             1
4        сотрудник          1105


<div class="alert alert-success">
<b>Комментарий ревьюера v2.0:</b>Оооо, анализ подробный - это хорошо! Ты молодец  </div>

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*

Данные о ежемесячном доходе заемщиков не однородны. Максимальный доход составил 2 266 тыс. руб., минимальный - 21 тыс. руб.
В случая если совокупность является неоднородной, медиана отображает показатель, который наиболее приближен к истинно среднему.\
Средний доход `mean` составил 167 тыс. руб.\
Медианное значание `median` - 145 тыс. руб.\
Отклонение = 22 тыс. руб.


<div class="alert alert-success">
<b>Комментарий ревьюера v2.0:</b>Да, медиана наиболее устойчива к выбросам</div>

**Вывод:**\
Заемщики с оторванным от общей массы ежемесячным доходом завышают среднее значение вверх.
Медианные значения позволяют правильно интерпретировать результаты анализа при неоднородной совокупности данных.

Максимальный ежемесячный доход:

In [44]:
import pandas as pd
res = pd.read_csv('/datasets/data.csv')
res[res['total_income'] == res['total_income'].max()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12412,0,-1477.438114,44,высшее,0,женат / замужем,0,M,компаньон,0,2.265604e+06,ремонт жилью

Максимальный ежемесячный доход:

In [45]:
import pandas as pd
res = pd.read_csv('/datasets/data.csv')
res[res['total_income'] == res['total_income'].min()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
14585,0,359219.059341,57,среднее,1,женат / замужем,0,F,пенсионер,1,20667.263793,недвижимость

Средний доход в месяц:

In [46]:
res['total_income'].mean()

167422.30220817294

Медианное значение:

In [47]:
res['total_income'].median()

145017.93753253992

### Шаг 4: общий вывод.

`Критерии заемщиков обладающих наиболее высоким потенциалом вернуть кредит банку в срок:`
* без детей - показатель своевременности возврата кредитов(7,54%),
* семейным положением "женат/замужем" (7,56%) или "в разводе" и "вдовец/вдова" (6,62%),
* цель кредита: операции с недвижимостью или проведение свадьбы,
* категории дохода:\
     "D" (от 30 0001 до 50 000 руб.) - показатель своевременности возврата кредитов(1,6%),\
     "B" (от 200 0001 до 1 000 000 руб.) - показатель своевременности возврата кредитов(1,7%),

`Комментарии ко входным данным:`

Для категория сотрудник- трудовой стаж не указан 1105 раз (51% от общего количества пропусков):
 нет явного объяснения причин пропусков. Потенциальные заемщики могли не иметь трудового стажа или умышленно его не указывали. Необходимо уточнить информацию у кредитного отдела банка.

Во входных данных, представленных кредитным отделом банка,  выявлены столбцы: "трудовой стаж" и "ежемесячный доход" с пропущенными значенями.\
Ежемесячный доход потенциальных заемщиков не является однородной совокупностью => для заполнения пропусков использовались медианные значения.